/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/CREDITS-fml.txt
/forge*
/build
/common
/eclipse/*
/.gradle
/bin/*
/lib/*
/out/*
.classpath
.project
.settings/*
src/api/*